<nav class="navbar navbar-default bcm-navbar">
   <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/"><img class="bcm-brand-logo" src="./images/logo1.png"></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right pullright" >
            <% if (user) { %>

               <% switch (user.role) {
         case 0 : %>
         <li id="home"><a href="/">Home</a></li>
         <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Receipts
            <span class="caret"></span></a>
            <ul class="dropdown-menu bcm-dropdown-menu">
               <li class="receipt"><a href="/receipt">update Receipts</a></li>
               <li class="view"><a href="/view">Completed Receipts</a></li>
               <li class="createReceipt"><a href="/createReceipt">Create Receipts</a></li>
               <li class="userReceipt"><a href="/userReceipt">View your Receipts</a></li>
            </ul>
         </li>
         <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events
            <span class="caret"></span></a>
            <ul class="dropdown-menu bcm-dropdown-menu">
               <li class="receipt"><a href="/event">Update Events</a></li>
               <li class="create"><a href="/create">Create Events</a></li>
            </ul>
         </li>
         <li class="usersList"><a href="/usersList">Change Role</a></li>
         <li class="profile"><a href="/activeUser">Active User</a></li>
         <li class="profile"><a href="/profile">Profile</a></li>
         <li class="helping"><a href="/helping">Help</a></li>
         <li class="logout"><a href="/logout">Logout</a></li>
                 <% break;
         
         case 1 : %>
         <li id="home"><a href="/">Home</a></li>
         <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Receipts
            <span class="caret"></span></a>
            <ul class="dropdown-menu bcm-dropdown-menu">
               <li class="receipt"><a href="/receipt">update Receipts</a></li>
               <li class="view"><a href="/view">Completed Receipts</a></li>
               <li class="createReceipt"><a href="/createReceipt">Create Receipts</a></li>
               <li class="userReceipt"><a href="/userReceipt">View your Receipts</a></li>
            </ul>
         </li>
         <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events
            <span class="caret"></span></a>
            <ul class="dropdown-menu bcm-dropdown-menu">
               <li class="receipt"><a href="/event">Update Events</a></li>
               <li class="create"><a href="/create">Create Events</a></li>
            </ul>
         </li>
         <li class="profile"><a href="/profile">Profile</a></li>
         <li class="helping"><a href="/helping">Help</a></li>
         <li class="logout"><a href="/logout">Logout</a></li>
                 <% break;
         
         default : %>
         <li id="home"><a href="/">Home</a></li>
         <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Receipts
            <span class="caret"></span></a>
            <ul class="dropdown-menu bcm-dropdown-menu">
               <li class="createReceipt"><a href="/createReceipt">Create Receipts</a></li>
               <li class="userReceipt"><a href="/userReceipt">View your Receipts</a></li>
            </ul>
         </li>
         <li class="profile"><a href="/profile">Profile</a></li>
         <li class="helping"><a href="/helping">Help</a></li>
         <li class="logout"><a href="/logout">Logout</a></li>
                 <% break;
         
         } %>
            
            <% } else { %>
            <li id="home"><a href="/">Home</a></li>
            <li class="login"><a href="/login">Login</a></li>
            <li class="register"><a href="/register">Register</a></li>
            <% } %>
         </ul>
      </div>
      <!-- /.navbar-collapse -->
   </div>
   <!-- /.container-fluid -->
</nav>


 

 