<nav class="navbar navbar-default bcm-navbar">
  <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img class="bcm-brand-logo" src="./images/logo1.png"></a>
     </div>
     <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pullright" >
           <% if (user) { %>
           <% if (user.role === 0) { %>
           <li id="home"><a href="/">Home</a></li>
           <li class="receipt"><a href="/receipt">Receipts</a></li>
           <li class="create"><a href="/create">Submit Receipts</a></li>
           <li class="usersList"><a href="/usersList">Change Role</a></li>
           <li class="profile"><a href="/profile">Profile</a></li>
           <li class="logout"><a href="/logout">Logout</a></li>
           <% } else if (user.role === 1) { %>
           <li id="home"><a href="/">Home</a></li>
           <li class="view"><a href="/view">View Receipts</a></li>
           <li class="create"><a href="/create">Submit Receipts</a></li>
           <li class="profile"><a href="/profile">Profile</a></li>
           <li class="logout"><a href="/logout">Logout</a></li>
           <% } else { %>
           <li id="home"><a href="/">Home</a></li>
           <li class="create"><a href="/create">Submit Receipts</a></li>
           <li class="profile"><a href="/profile">Profile</a></li>
           <li class="logout"><a href="/logout">Logout</a></li>
           <% } %>
           <% } else { %>
           <li id="home"><a href="/">Home</a></li>
           <li class="login"><a href="/login">Login</a></li>
           <li class="register"><a href="/register">Register</a></li>
           <% } %>
        </ul>
     </div>
     <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
