<!DOCTYPE html>
<html  lang="en">
   <head>
      <title>BCM PLANET</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <META Http-Equiv="Cache-Control" Content="no-cache">
         <META Http-Equiv="Pragma" Content="no-cache">
         <META Http-Equiv="Expires" Content="0">
      <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
     
      <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
      <link rel="stylesheet" type="text/css" href="./css/pageTopScroller.css">
      <link rel="stylesheet" href="./css/common.css">
      <link rel="stylesheet" href="./css/partials.css">
      <link rel="stylesheet" href="./css/style.css">
   </head>
   <body>
      <%- include('../partials/navbar'); %>
      <div class="bcm">
         <%- body %>
      </div>
      <%- include('../partials/footer'); %>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/3161d7c922.js" crossorigin="anonymous"></script>
      <script src="./js/owl.carousel.min.js"></script>
      <script src="./js/script.js"></script>    
      <script src="./js/pageTopScroller.js"></script>
   </body>
</html>
