<%- include('./components/homeSlider'); %>
<section class="">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-9 col-sm-12">
            <div class="main-body">
               <section class="our-amenities-section">
                  <div class="text-center amenities-heading">
                     <h1>OUR AMENITIES</h1>
                  </div>
                  <div class="featured-carousel owl-carousel">
                     <div class="item">
                        <div class="card">
                           <div class="card-img-top">
                              <img src="./images/owl/society-gym.jpg" alt="">
                           </div>
                           <div class="card-block">
                              <h4 class="card-title">Gym</h4>
                              <p class="card-text">There are many variations of passages of Lorem Ipsum available...There are many variations of passages of Lorem Ipsum available...</p>
                              <a href="#" class="card-footer">Read More</a>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="card">
                           <div class="card-img-top">
                              <img src="./images/owl/swimming-pool.jpg" alt=""> 
                           </div>
                           <div class="card-block">
                              <h4 class="card-title">Swimming Pool</h4>
                              <p class="card-text">There are many variations of passages of Lorem Ipsum available...There are many variations of passages of Lorem Ipsum available...</p>
                              <a href="#" class="card-footer">Read More</a>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="card">
                           <div class="card-img-top">                               
                              <img src="./images/owl/home-garden.jpg" alt="">
                           </div>
                           <div class="card-block">
                              <h4 class="card-title">Garden</h4>
                              <p class="card-text">There are many variations of passages of Lorem Ipsum available...There are many variations of passages of Lorem Ipsum available...</p>
                              <a href="#" class="card-footer">Read More</a>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="card">
                           <div class="card-img-top">                               
                              <img src="./images/owl/club-house.jpg" alt="">
                           </div>
                           <div class="card-block">
                              <h4 class="card-title">Club House</h4>
                              <p class="card-text">There are many variations of passages of Lorem Ipsum available...There are many variations of passages of Lorem Ipsum available...</p>
                              <a href="#" class="card-footer">Read More</a>
                           </div>
                        </div>
                     </div>
                     <div class="item">
                        <div class="card">
                           <div class="card-img-top">                               
                              <img src="./images/owl/kids-play-area.jpg" alt="">
                           </div>
                           <div class="card-block">
                              <h4 class="card-title">Kids Play Area</h4>
                              <p class="card-text">There are many variations of passages of Lorem Ipsum available...There are many variations of passages of Lorem Ipsum available...</p>
                              <a href="#" class="card-footer">Read More</a>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
         <div class="col-md-1 col-sm-12"></div>
         <div class="col-md-2 col-sm-12"></div>
      </div>
   </div>
</section>
<section class="contact-us">
   <div class="container">
      <div class="countact-us_header">
         <h1>Contact Us</h1>
      </div>
      <br />
      <div class="row">
         <div class="col-md-6">
            <div class="bcm-map">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.212043780663!2d75.9200777145119!3d22.75751078508795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39631d5e3df3b7c5%3A0x6e889108b14d5ce5!2sBCM%20Planet!5e0!3m2!1sen!2sin!4v1651118692989!5m2!1sen!2sin"
                  width="100%" height="538" frameborder="0" style="border:0" allowfullscreen data-aos="fade-left" data-aos-duration="3000"></iframe>
            </div>
         </div>
         <br />
         <div class="col-md-6">
            <form class="bcm-contact-form" action="/contact" method="post" enctype="multipart/form-data" id="contact-form">
               <div class="form-group">
                  <label for="form-name">Name</label>
                  <input type="text" class="form-control" id="form-name" name="name" placeholder="Name">
               </div>
               <div class="form-group">
                  <label for="form-email">Email Address</label>
                  <input type="email" class="form-control" id="form-email" name="email" placeholder="Email Address">
               </div>
               <div class="form-group">
                  <label for="form-subject">Subject</label>
                  <input type="text" class="form-control" id="form-subject" name="subject" placeholder="subject">
               </div>
               <div class="form-group">
                  <label for="form-message">Email your Message</label>
                  <textarea class="form-control" id="form-message" name="message" placeholder="Message"></textarea>
               </div>
               <button class="btn bcm-btn-black" type="submit">Contact Us</button>                
            </form>
         </div>
      </div>
   </div>
</section>