<%- include('./components/homeSlider'); %>
<section class="">
   <div class="container">
      <div class="row">
         <div class="col-md-8 col-sm-12">
            <div class="">
               <section id="our-program">
                  <div class="container">
                     <div class="top text-center">
                        <h1 style="color:#E30613">OUR AMENITIES</h1>
                     </div>
                     <div class="row">
                        <div class="col-md-4">
                           <div class="card">
                              <div class="card-img-top">
                                 <img src="https://4.imimg.com/data4/IA/CR/MY-4062718/society-gym-setup-500x500.jpg" alt="">
                              </div>
                              <div class="card-block">
                                 <h4 class="card-title">Gym</h4>
                                 <p class="card-text">There are many variations of passages of Lorem Ipsum available...There are many variations of passages of Lorem Ipsum available...</p>
                                 <a href="#" class="card-footer">Read More</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="card">
                              <div class="card-img-top">
                                 <img src="https://taylormgt.ahn6.com/societyhilljcii/picture/dsc01063.jpg" alt=""> 
                              </div>
                              <div class="card-block">
                                 <h4 class="card-title">Swimming Pool</h4>
                                 <p class="card-text">There are many variations of passages of Lorem Ipsum available...There are many variations of passages of Lorem Ipsum available...</p>
                                 <a href="#" class="card-footer">Read More</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="card">
                              <div class="card-img-top">                               
                                 <img src="https://wonderfulengineering.com/wp-content/uploads/2014/08/25-Garden-Design-Ideas-For-Your-Home-14.jpg" alt="">
                              </div>
                              <div class="card-block">
                                 <h4 class="card-title">Garden</h4>
                                 <p class="card-text">There are many variations of passages of Lorem Ipsum available...There are many variations of passages of Lorem Ipsum available...</p>
                                 <a href="#" class="card-footer">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </div>
         <div class="col-md-4 col-sm-12"></div>
      </div>
   </div>
</section>
<section class="contact-us">
   <div class="container">
      <div class="countact-us_header">
         <h1>Contact Us</h1>
      </div>
      <br />
      <div class="row">
         <div class="col-md-6">
            <div class="bcm-map">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.212043780663!2d75.9200777145119!3d22.75751078508795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39631d5e3df3b7c5%3A0x6e889108b14d5ce5!2sBCM%20Planet!5e0!3m2!1sen!2sin!4v1651118692989!5m2!1sen!2sin"
                  width="100%" height="538" frameborder="0" style="border:0" allowfullscreen data-aos="fade-left" data-aos-duration="3000"></iframe>
            </div>
         </div>
         <br />
         <div class="col-md-6">
            <form class="bcm-contact-form">
               <div class="form-group">
                  <label for="form-name">Name</label>
                  <input type="email" class="form-control" id="form-name" placeholder="Name">
               </div>
               <div class="form-group">
                  <label for="form-email">Email Address</label>
                  <input type="email" class="form-control" id="form-email" placeholder="Email Address">
               </div>
               <div class="form-group">
                  <label for="form-subject">Telephone</label>
                  <input type="text" class="form-control" id="form-subject" placeholder="Subject">
               </div>
               <div class="form-group">
                  <label for="form-message">Email your Message</label>
                  <textarea class="form-control" id="form-message" placeholder="Message"></textarea>
               </div>
               <button class="btn btn-default" type="submit">Contact Us</button>                
            </form>
         </div>
      </div>
   </div>
</section>