@media (max-width: 360px) {
  /*-----------Navbar-------------*/
  .bcm-navbar .navbar-header .navbar-brand {
    margin-top: -2.5rem;
    height: 20px; }
    .bcm-navbar .navbar-header .navbar-brand .bcm-brand-logo {
      max-width: 40%;
      margin-top: -1rem; }
  .bcm-navbar .navbar-header a {
    padding-left: 1rem; }
  .bcm-navbar .navbar-collapse {
    margin: 0;
    padding: 0; }
    .bcm-navbar .navbar-collapse .navbar-nav {
      margin: 0; }
      .bcm-navbar .navbar-collapse .navbar-nav li a {
        padding-left: 1rem; }
    .bcm-navbar .navbar-collapse .open .bcm-dropdown-menu {
      padding-bottom: 1rem;
      font-size: 1.1rem; }
  .bcm-navbar .in .pullright {
    float: left;
    width: 100%; }
  /*----------Home Slider--------------*/
  .carousel .carousel-inner .item .carousel-caption h1 {
    font-size: 25px; }
  .carousel .carousel-inner .item .carousel-caption h3 {
    font-size: 18px; }
  .carousel .carousel-inner .item .carousel-caption p a {
    padding: 10px 25px; }
  /*----------Footer--------------*/
  .bcm-footer .footer-center ul {
    display: contents; }
    .bcm-footer .footer-center ul li p {
      line-height: 1.2em;
      padding-top: 1em;
      text-align: center;
      padding-bottom: 1em; }
  .bcm-footer .footer-right {
    display: flex;
    justify-content: center; }
    .bcm-footer .footer-right ul {
      padding-inline-start: 0px;
      padding-bottom: 1em; }
  /*-----------About Section-------------*/
  .about-section .main-body .about {
    margin-top: 5rem; }
    .about-section .main-body .about .about-container .video-box {
      padding-top: 0rem; }
      .about-section .main-body .about .about-container .video-box img {
        width: 30rem; }
  .about-section .show-events {
    min-height: 35rem;
    margin-top: 0rem;
    margin-bottom: 2rem; }
  /*-----------Teams Section-------------*/
  .team .desktop-view {
    display: none; }
  .team .mobile-view {
    display: block; }
    .team .mobile-view .heading-light {
      margin-bottom: 70px; }
    .team .mobile-view .col-xs-6 {
      padding-right: 5px;
      padding-left: 5px; }
    .team .mobile-view .profile .team-members .team-desc .team-socials {
      display: none; }
    .team .mobile-view .team-about {
      min-height: 100px;
      padding: 10px; }
      .team .mobile-view .team-about .team-details h4 {
        font-size: 14px;
        margin: 0 0 4px; }
      .team .mobile-view .team-about .team-details span {
        font-size: 9px; }
  /*----------View Receipt --------------*/
  .bcm_view-recipt .user-recept-view {
    display: block; }
  /*----------Clients logo --------------*/
  .clients img {
    max-width: 40%; } }

@media (min-width: 361px) {
  /*-----------Navbar-------------*/
  .bcm-navbar .navbar-header .navbar-brand {
    margin-top: -2.5rem;
    height: 20px; }
    .bcm-navbar .navbar-header .navbar-brand .bcm-brand-logo {
      max-width: 40%;
      margin-top: -1rem; }
  .bcm-navbar .navbar-header a {
    padding-left: 1rem; }
  .bcm-navbar .navbar-collapse {
    margin: 0;
    padding: 0; }
    .bcm-navbar .navbar-collapse .navbar-nav {
      margin: 0; }
      .bcm-navbar .navbar-collapse .navbar-nav li a {
        padding-left: 1rem; }
    .bcm-navbar .navbar-collapse .open .bcm-dropdown-menu {
      padding-bottom: 1rem;
      font-size: 1.1rem; }
  .bcm-navbar .in .pullright {
    float: left;
    width: 100%; }
  /*----------Home Slider--------------*/
  .carousel .carousel-inner .item .carousel-caption h1 {
    font-size: 25px; }
  .carousel .carousel-inner .item .carousel-caption h3 {
    font-size: 18px; }
  .carousel .carousel-inner .item .carousel-caption p a {
    padding: 10px 25px; }
  /*----------Footer--------------*/
  .bcm-footer .footer-center ul {
    display: contents; }
    .bcm-footer .footer-center ul li p {
      line-height: 1.2em;
      padding-top: 1em;
      text-align: center;
      padding-bottom: 1em; }
  .bcm-footer .footer-right {
    display: flex;
    justify-content: center; }
    .bcm-footer .footer-right ul {
      padding-inline-start: 0px;
      padding-bottom: 1em; }
  /*-----------About Section-------------*/
  .about-section .main-body .about {
    margin-top: 5rem; }
    .about-section .main-body .about .about-container .video-box {
      padding-top: 0rem; }
      .about-section .main-body .about .about-container .video-box img {
        width: 30rem; }
  .about-section .show-events {
    min-height: 35rem;
    margin-top: 0rem;
    margin-bottom: 2rem; }
  /*-----------Teams Section-------------*/
  .team .desktop-view {
    display: none; }
  .team .mobile-view {
    display: block;
    padding: 50px 0 50px 0; }
    .team .mobile-view .heading-light {
      margin-bottom: 70px; }
    .team .mobile-view .col-xs-6 {
      padding-right: 5px;
      padding-left: 5px; }
    .team .mobile-view .profile .team-members .team-desc .team-socials {
      display: none; }
    .team .mobile-view .team-about {
      min-height: 100px;
      padding: 10px; }
      .team .mobile-view .team-about .team-details h4 {
        font-size: 14px;
        margin: 0 0 4px; }
      .team .mobile-view .team-about .team-details span {
        font-size: 9px; }
  /*----------Clients logo --------------*/
  .clients img {
    max-width: 60%; } }

@media (min-width: 768px) {
  /*-----------Navbar-------------*/
  .bcm-navbar .navbar-header .navbar-brand {
    position: relative;
    top: 4rem; }
    .bcm-navbar .navbar-header .navbar-brand .bcm-brand-logo {
      max-width: 25%;
      height: auto; }
  .bcm-navbar .navbar-collapse {
    margin: 0;
    padding: 0;
    float: right; }
    .bcm-navbar .navbar-collapse .navbar-nav {
      margin: 0; }
    .bcm-navbar .navbar-collapse .pullright {
      float: right;
      width: 100%; }
  /*----------Home Slider--------------*/
  .carousel .carousel-inner .item .carousel-caption {
    padding-bottom: 350px; }
    .carousel .carousel-inner .item .carousel-caption h1 {
      font-size: 50px; }
    .carousel .carousel-inner .item .carousel-caption h3 {
      font-size: 18px; }
    .carousel .carousel-inner .item .carousel-caption p a {
      padding: 10px 25px; }
  /*----------Footer--------------*/
  .bcm-footer .footer-center ul {
    display: contents;
    justify-content: end;
    padding-top: 1em; }
    .bcm-footer .footer-center ul li p {
      line-height: 1.2em;
      padding-top: 1em;
      text-align: center;
      padding-bottom: 1em; }
  .bcm-footer .footer-right {
    display: flex;
    padding-top: 1em; }
    .bcm-footer .footer-right ul {
      padding-inline-start: 0px;
      padding-bottom: 1em; }
  /*-----------About Section-------------*/
  .about-section .main-body .about {
    margin-top: 5rem; }
    .about-section .main-body .about .about-container .video-box {
      padding-top: 1rem; }
      .about-section .main-body .about .about-container .video-box img {
        width: 95%; }
  .about-section .show-events {
    min-height: 50rem;
    margin-top: 2rem; }
  /*-----------Teams Section-------------*/
  .team .desktop-view {
    display: block; }
    .team .desktop-view .team-about {
      min-height: 100px;
      padding: 10px; }
      .team .desktop-view .team-about .team-details h4 {
        font-size: 22px;
        margin: 0 0 10px; }
      .team .desktop-view .team-about .team-details span {
        font-size: 13px; }
    .team .desktop-view .profile .team-members .team-desc .team-socials {
      display: none; }
  .team .mobile-view {
    display: none; }
  /*----------Clients logo --------------*/
  .clients img {
    max-width: 60%; }
  /*-------Event Postcard---------*/
  .postcard {
    flex-wrap: inherit; }
    .postcard .postcard__img_link .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease; }
    .postcard .postcard__text {
      padding: 3rem;
      width: 100%; }
      .postcard .postcard__text .postcard__title {
        font-size: 2rem; }
      .postcard .postcard__text .postcard__tagbox {
        justify-content: start; }
  .postcard:hover .postcard__img_link .postcard__img {
    transform: scale(1.1); }
  .postcard:nth-child(2n + 1) {
    flex-direction: row; }
    .postcard:nth-child(2n + 1) .postcard__text::before {
      left: -30px !important;
      transform: rotate(4deg); }
  .postcard:nth-child(2n + 0) {
    flex-direction: row-reverse; }
    .postcard:nth-child(2n + 0) .postcard__text::before {
      right: -30px !important;
      transform: rotate(-4deg); }
  .red::before {
    background-image: linear-gradient(-80deg, rgba(227, 6, 19, 0.1), transparent 50%); }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%); } }

@media (min-width: 992px) {
  /*-----------Navbar-------------*/
  .bcm-navbar .navbar-header .navbar-brand {
    position: relative;
    top: 4rem; }
    .bcm-navbar .navbar-header .navbar-brand .bcm-brand-logo {
      margin: -1rem;
      top: 0; }
  .bcm-navbar .navbar-collapse .pullright {
    float: right; }
  /*----------Home Slider--------------*/
  .carousel .carousel-inner .item .carousel-caption {
    padding-bottom: 350px; }
    .carousel .carousel-inner .item .carousel-caption h1 {
      font-size: 50px; }
    .carousel .carousel-inner .item .carousel-caption h3 {
      font-size: 18px; }
    .carousel .carousel-inner .item .carousel-caption p a {
      padding: 10px 25px; }
  /*----------Footer--------------*/
  .bcm-footer .footer-center ul {
    display: contents;
    justify-content: end;
    padding-top: 1em; }
    .bcm-footer .footer-center ul li p {
      line-height: 1.2em;
      padding-top: 1em;
      text-align: center;
      padding-bottom: 1em; }
  .bcm-footer .footer-right {
    display: block;
    padding-top: 1em; }
    .bcm-footer .footer-right ul {
      padding-inline-start: 0px;
      padding-bottom: 1em; }
  /*-----------About Section-------------*/
  .about-section .main-body .about {
    margin-top: 5rem; }
    .about-section .main-body .about .about-container .video-box {
      padding-top: 9rem; }
      .about-section .main-body .about .about-container .video-box img {
        width: 90%; }
  .about-section .show-events {
    min-height: 50rem;
    margin-top: 13rem; }
  /*-----------Teams Section-------------*/
  .team .desktop-view {
    display: block; }
    .team .desktop-view .team-about {
      min-height: 495px;
      padding: 10px; }
      .team .desktop-view .team-about .team-details h4 {
        font-size: 22px;
        margin: 0 0 10px; }
      .team .desktop-view .team-about .team-details span {
        font-size: 13px; }
    .team .desktop-view .profile .team-members .team-desc .team-socials {
      display: block; }
  .team .mobile-view {
    display: none; }
  /*----------Clients logo --------------*/
  .clients img {
    max-width: 60%; }
  /*-------Event Postcard---------*/
  .postcard {
    flex-wrap: inherit; }
    .postcard .postcard__text {
      padding: 2rem 3.5rem; }
      .postcard .postcard__text .postcard__tagbox .red .play:hover {
        background: #e30613; }
      .postcard .postcard__text .postcard__bar {
        background-color: #e30613; }
    .postcard .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 55px; }
  .light .postcard__text:before {
    background: #e1e5ea; }
  .red .postcard__title:hover {
    color: #e30613; }
  .red::before {
    background-image: linear-gradient(-30deg, rgba(227, 6, 19, 0.1), transparent 50%); }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(227, 6, 19, 0.1), transparent 50%); } }

@media (min-width: 1200px) {
  /*-----------Navbar-------------*/
  .bcm-navbar .navbar-header .navbar-brand {
    position: relative;
    top: 4rem; }
    .bcm-navbar .navbar-header .navbar-brand .bcm-brand-logo {
      margin: -1rem;
      top: 0; }
  .bcm-navbar .navbar-collapse .pullright {
    float: right; }
  /*----------Home Slider--------------*/
  .carousel .carousel-inner .item .carousel-caption {
    padding-bottom: 350px; }
    .carousel .carousel-inner .item .carousel-caption h1 {
      font-size: 50px; }
    .carousel .carousel-inner .item .carousel-caption h3 {
      font-size: 18px; }
    .carousel .carousel-inner .item .carousel-caption p a {
      padding: 10px 25px; }
  /*----------Footer--------------*/
  .bcm-footer .footer-center ul {
    display: contents;
    justify-content: end;
    padding-top: 1em; }
    .bcm-footer .footer-center ul li p {
      line-height: 2em;
      padding-top: 1em;
      text-align: left;
      padding-bottom: 1em; }
  .bcm-footer .footer-right {
    display: block;
    padding-top: 1em; }
    .bcm-footer .footer-right ul {
      padding-inline-start: 0px;
      padding-bottom: 1em; }
  /*-----------About Section-------------*/
  .about-section .main-body .about {
    margin-top: 5rem; }
    .about-section .main-body .about .about-container .video-box {
      padding-top: 9rem; }
      .about-section .main-body .about .about-container .video-box img {
        width: 90%; }
  .about-section .show-events {
    min-height: 50rem;
    margin-top: 13rem; }
  /*-----------Teams Section-------------*/
  .team .desktop-view {
    display: block; }
    .team .desktop-view .team-about {
      min-height: 495px;
      padding: 10px; }
      .team .desktop-view .team-about .team-details h4 {
        font-size: 22px;
        margin: 0 0 10px; }
      .team .desktop-view .team-about .team-details span {
        font-size: 13px; }
    .team .desktop-view .profile .team-members .team-desc .team-socials {
      display: block; }
  .team .mobile-view {
    display: none; }
  /*----------Clients logo --------------*/
  .clients img {
    max-width: 60%; }
  /*-------Event Postcard---------*/
  .postcard {
    flex-wrap: inherit; }
    .postcard .postcard__text {
      padding: 2rem 3.5rem; }
      .postcard .postcard__text .postcard__title h1 {
        color: inherit; }
      .postcard .postcard__text .postcard__tagbox .red .play:hover {
        background: #e30613; }
      .postcard .postcard__text .postcard__bar {
        background-color: #e30613; }
    .postcard .postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      top: -20%;
      height: 130%;
      width: 55px; }
  .light .postcard__text:before {
    background: #e1e5ea; }
  .red .postcard__title:hover {
    color: #e30613; }
  .red::before {
    background-image: linear-gradient(-30deg, rgba(227, 6, 19, 0.1), transparent 50%); }
  .red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(227, 6, 19, 0.1), transparent 50%); } }

/*# sourceMappingURL=mediaQuery.css.map */