.bcm {
  margin-bottom: 8rem;
  /*------------Home carousel--------------*/
  /*--------------------------------------------------------------
  # About Us
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Clients
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # User Profile
  --------------------------------------------------------------*/
  /*--------------------------------------------------
      [TEAM]
  ----------------------------------------------------*/
  /*--------------------------------------------------
  # Contact Us
  ----------------------------------------------------*/
  /*-------------------------------------------
  # Amenities Section
  ---------------------------------------------*/
  /*--------------------------------------------------------------------*/
  /*Event*/
  /*--------------------------------------------------------------------*/
  /*--------------------------------------------------------------------*/
  /* Bootstrap DatePicker*/
  /*--------------------------------------------------------------------*/
  /*-------------------------------------------
  Other
  ---------------------------------------------*/ }
  .bcm .carousel .carousel-indicators .active {
    background-color: #e30613;
    border-color: #e30613; }
  .bcm .carousel .carousel-inner .item .banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; }
  .bcm .carousel .carousel-inner .item .carousel-caption {
    padding-bottom: 250px; }
    .bcm .carousel .carousel-inner .item .carousel-caption h1 {
      text-transform: uppercase;
      font-weight: bold; }
      .bcm .carousel .carousel-inner .item .carousel-caption h1 span {
        color: #e30613; }
    .bcm .carousel .carousel-inner .item .carousel-caption p a {
      background: #e30613;
      padding: 15px 35px;
      display: inline-block;
      margin-top: 15px;
      color: #fff;
      text-transform: uppercase;
      border-radius: 25px; }
  .bcm .carousel .carousel-control .left {
    background-image: none; }
  .bcm .carousel .carousel-control .right {
    background-image: none; }
  .bcm .about-section .main-body .about {
    width: 100%; }
    .bcm .about-section .main-body .about .about-container {
      box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6); }
      .bcm .about-section .main-body .about .about-container .video-box {
        position: relative;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: 3rem;
        padding-top: 9rem; }
        .bcm .about-section .main-body .about .about-container .video-box img {
          padding: 15px 0; }
        .bcm .about-section .main-body .about .about-container .video-box .play-btn {
          width: 94px;
          height: 94px;
          background: radial-gradient(#e30613 50%, rgba(227, 6, 19, 0.4) 52%);
          border-radius: 50%;
          display: block;
          position: absolute;
          left: calc(50% - 47px);
          top: calc(50% - 47px);
          overflow: hidden; }
        .bcm .about-section .main-body .about .about-container .video-box .play-btn::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-40%) translateY(-50%);
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 15px solid #fff;
          transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        .bcm .about-section .main-body .about .about-container .video-box .play-btn::before {
          content: "";
          position: absolute;
          width: 120px;
          height: 120px;
          -webkit-animation-delay: 0s;
          animation-delay: 0s;
          -webkit-animation: pulsate-btn 2s;
          animation: pulsate-btn 2s;
          -webkit-animation-direction: forwards;
          animation-direction: forwards;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          -webkit-animation-timing-function: steps;
          animation-timing-function: steps;
          opacity: 1;
          border-radius: 50%;
          border: 5px solid rgba(227, 6, 19, 0.7);
          top: -15%;
          left: -15%;
          background: rgba(198, 16, 0, 0); }
        .bcm .about-section .main-body .about .about-container .video-box .play-btn:hover::after {
          border-left: 15px solid #e30613;
          transform: scale(20); }
        .bcm .about-section .main-body .about .about-container .video-box .play-btn:hover::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translateX(-40%) translateY(-50%);
          width: 0;
          height: 0;
          border: none;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 15px solid #fff;
          z-index: 200;
          -webkit-animation: none;
          animation: none;
          border-radius: 0; }

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 0; } }

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1; }
  100% {
    transform: scale(1, 1);
    opacity: 0; } }
      .bcm .about-section .main-body .about .about-container .about-content {
        padding: 40px;
        padding-top: 0; }
        .bcm .about-section .main-body .about .about-container .about-content .about-section-title {
          position: relative; }
          .bcm .about-section .main-body .about .about-container .about-content .about-section-title h2 {
            font-size: 30px;
            padding-bottom: 0;
            color: #000;
            text-align: center; }
          .bcm .about-section .main-body .about .about-container .about-content .about-section-title h2:after {
            left: 50%;
            height: 3px;
            width: 100px;
            content: " ";
            top: 5rem;
            margin-left: -5rem;
            position: absolute;
            background: #e30613; }
          .bcm .about-section .main-body .about .about-container .about-content .about-section-title p {
            margin-top: 4rem;
            margin-bottom: 3rem; }
        .bcm .about-section .main-body .about .about-container .about-content .icon-box {
          margin-top: 40px; }
          .bcm .about-section .main-body .about .about-container .about-content .icon-box .icon {
            float: left;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 72px;
            height: 72px;
            background: #f1f7fb;
            border-radius: 6px;
            transition: 0.5s; }
            .bcm .about-section .main-body .about .about-container .about-content .icon-box .icon i {
              color: #e30613;
              font-size: 32px; }
          .bcm .about-section .main-body .about .about-container .about-content .icon-box .title {
            margin-left: 95px;
            font-weight: 700;
            margin-bottom: 10px; }
            .bcm .about-section .main-body .about .about-container .about-content .icon-box .title a {
              color: #343a40;
              transition: 0.3s; }
            .bcm .about-section .main-body .about .about-container .about-content .icon-box .title a:hover {
              color: #e30613; }
          .bcm .about-section .main-body .about .about-container .about-content .icon-box .description {
            margin-left: 95px;
            line-height: 24px;
            font-size: 14px; }
        .bcm .about-section .main-body .about .about-container .about-content .icon-box:hover .icon {
          background: #e30613; }
          .bcm .about-section .main-body .about .about-container .about-content .icon-box:hover .icon i {
            color: #fff; }
  .bcm .about-section .show-events {
    background-color: #000;
    min-height: 50rem;
    margin-top: 13rem;
    padding: 1rem;
    border-radius: 10px; }
    .bcm .about-section .show-events h2 {
      text-align: center; }
    .bcm .about-section .show-events p {
      color: #fff; }
    .bcm .about-section .show-events .dividerline-img {
      margin: 3rem 0rem; }
    .bcm .about-section .show-events ul {
      padding-inline-start: 0px;
      padding: 0rem 1rem; }
      .bcm .about-section .show-events ul .eventIndex {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        line-height: 1rem;
        padding-bottom: 1rem;
        color: #fff; }
      .bcm .about-section .show-events ul .dotted-border {
        border-top: 2px dotted #fff;
        margin-top: 5px; }
  .bcm .clients {
    text-align: center; }
    .bcm .clients img {
      max-width: 100%;
      transition: all 0.4s ease-in-out;
      display: inline-block;
      filter: grayscale(100); }
    .bcm .clients img:hover {
      filter: none;
      transform: scale(1.15); }
  .bcm .profile-note {
    text-align: right;
    padding-top: 1rem; }
    .bcm .profile-note em span {
      color: red; }
  .bcm .user-profile .userImage-container {
    text-align: -webkit-center; }
    .bcm .user-profile .userImage-container img#userimage {
      max-height: 30rem; }
  .bcm .user-profile .user-details {
    margin-top: 3rem; }
    .bcm .user-profile .user-details p b {
      line-height: 3rem;
      font-size: 2rem;
      min-width: 12rem;
      display: inline-block;
      padding-right: 1rem; }
  .bcm .team .team-bg {
    z-index: 1;
    height: auto;
    overflow: hidden;
    background: url(../images/bg_parallax.jpg) 50% 0 fixed;
    background-size: cover;
    background-position: center center; }
    .bcm .team .team-bg .heading-light {
      position: relative;
      text-align: center; }
      .bcm .team .team-bg .heading-light h2 {
        font-size: 30px;
        color: #fff;
        line-height: 4rem; }
    .bcm .team .team-bg .heading-light:after {
      left: 50%;
      height: 3px;
      width: 100px;
      content: " ";
      bottom: -20px;
      margin-left: -55px;
      position: absolute;
      background: #e30613; }
    .bcm .team .team-bg .profile .team-members {
      width: 100%;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      margin-bottom: 35px; }
      .bcm .team .team-bg .profile .team-members .team-avatar {
        position: relative; }
        .bcm .team .team-bg .profile .team-members .team-avatar img {
          display: block;
          margin: 0 auto;
          text-align: center; }
      .bcm .team .team-bg .profile .team-members .team-avatar:after {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: " ";
        position: absolute;
        background: rgba(129, 129, 129, 0.1);
        transition-duration: 300ms;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
      .bcm .team .team-bg .profile .team-members .team-desc {
        left: auto;
        bottom: 0;
        width: 100%;
        padding: 0 20px;
        position: absolute;
        opacity: 0;
        color: #fff;
        -webkit-transform: translate3d(0, 10%, 0);
        transform: translate3d(0, 10%, 0);
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        -ms-transition: opacity 0.3s;
        -o-transition: opacity 0.3s;
        transition: opacity 0.3s; }
        .bcm .team .team-bg .profile .team-members .team-desc .team-details {
          float: left; }
          .bcm .team .team-bg .profile .team-members .team-desc .team-details h4 {
            font-weight: 600;
            color: #fff; }
          .bcm .team .team-bg .profile .team-members .team-desc .team-details span {
            display: block;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff; }
      .bcm .team .team-bg .profile .team-members .team-socials {
        right: 20px;
        bottom: 0;
        margin: 0;
        padding: 0;
        text-align: right;
        list-style: none;
        position: absolute; }
        .bcm .team .team-bg .profile .team-members .team-socials li {
          padding: 0 3px;
          display: inline-block; }
          .bcm .team .team-bg .profile .team-members .team-socials li a {
            text-decoration: none; }
            .bcm .team .team-bg .profile .team-members .team-socials li a i {
              font-size: 20px;
              color: #fff; }
            .bcm .team .team-bg .profile .team-members .team-socials li a i:hover {
              color: #d15d5d; }
    .bcm .team .team-bg .profile .team-members:hover .team-avatar:after {
      background: rgba(47, 60, 72, 0.5);
      transition-duration: 300ms;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1); }
    .bcm .team .team-bg .profile .team-members:hover .team-desc {
      -webkit-transform: translate3d(0, -5%, 0);
      transform: translate3d(0, -5%, 0);
      -webkit-transform: translate3d(0, -10%, 0);
      transform: translate3d(0, -10%, 0);
      opacity: 1;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s; }
    .bcm .team .team-bg .team-about {
      padding: 30px;
      background: rgba(129, 129, 129, 0.1); }
      .bcm .team .team-bg .team-about .team-details h3 {
        color: #d4d9de;
        font-size: 20px;
        margin: 0 0 10px;
        text-transform: capitalize; }
      .bcm .team .team-bg .team-about .team-details p {
        color: #8693a7; }
      .bcm .team .team-bg .team-about .team-hide {
        display: none; }
  .bcm .contact-us {
    background-color: #e30613;
    padding-bottom: 2rem; }
    .bcm .contact-us .contact-us_header {
      color: #fff;
      position: relative; }
      .bcm .contact-us .contact-us_header h2 {
        font-size: 30px;
        text-align: center; }
      .bcm .contact-us .contact-us_header h2:after {
        left: 50%;
        height: 3px;
        width: 100px;
        content: " ";
        bottom: -20px;
        margin-left: -55px;
        position: absolute;
        background: #000; }
    .bcm .contact-us .bcm-contact-form label {
      color: #fff; }
    .bcm .contact-us .contact-info {
      margin-top: 2rem; }
      .bcm .contact-us .contact-info ul {
        list-style-type: none;
        padding-inline-start: 0px; }
        .bcm .contact-us .contact-info ul li {
          font-size: 2rem;
          color: #fff;
          line-height: 3rem; }
          .bcm .contact-us .contact-info ul li span i {
            color: #000;
            min-width: 3rem; }
  .bcm .our-amenities-section .amenities-heading {
    position: relative; }
    .bcm .our-amenities-section .amenities-heading h2 {
      font-size: 30px;
      color: #000; }
    .bcm .our-amenities-section .amenities-heading h2:after {
      left: 50%;
      height: 3px;
      width: 100px;
      content: " ";
      bottom: -20px;
      margin-left: -55px;
      position: absolute;
      background: #e30613; }
  .bcm .our-amenities-section .owl-carousel {
    z-index: 0; }
    .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item {
      z-index: 1; }
      .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .card {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0 0 10px 10px;
        position: relative;
        background: #fff;
        text-align: center;
        -webkit-box-shadow: -4px 2px 10px 3px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -4px 2px 10px 3px rgba(0, 0, 0, 0.5);
        box-shadow: -4px 2px 10px 3px rgba(0, 0, 0, 0.5);
        margin-bottom: 30px; }
        .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .card .card-img-top {
          overflow: hidden; }
          .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .card .card-img-top img {
            width: 100%;
            transition: 0.3s all;
            max-height: 350px;
            min-height: 300px; }
        .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .card .card-block {
          min-height: 25rem; }
          .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .card .card-block h3 {
            font-size: 2rem;
            font-weight: 700; }
          .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .card .card-block .card-text {
            width: 80%;
            margin: 0 auto;
            font-weight: 500;
            margin-bottom: 10px; }
            .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .card .card-block .card-text .card-footer {
              background: #e30613;
              padding: 10px 30px;
              font-weight: 700;
              font-size: 15px;
              display: inline-block;
              color: #fff;
              margin-bottom: 1em; }
      .bcm .our-amenities-section .owl-carousel .owl-stage-outer .owl-stage .owl-item .item .card:hover .card-img-top img {
        transform: scale(1.2); }
    .bcm .our-amenities-section .owl-carousel .owl-nav {
      float: right; }
      .bcm .our-amenities-section .owl-carousel .owl-nav .ion-ios-arrow-forward {
        font-size: 2rem;
        margin-left: 0.5rem;
        background: #e30613;
        padding: 5px 15px;
        color: #fff; }
      .bcm .our-amenities-section .owl-carousel .owl-nav .ion-ios-arrow-back {
        font-size: 2rem;
        margin-right: 0.5rem;
        background: #e30613;
        padding: 5px 15px;
        color: #fff; }
  .bcm .bcm_events .view-events .postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #fff; }
    .bcm .bcm_events .view-events .postcard .postcard__img_link {
      color: inherit;
      display: contents; }
      .bcm .bcm_events .view-events .postcard .postcard__img_link .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative; }
    .bcm .bcm_events .view-events .postcard .postcard__text {
      padding: 1.5rem;
      position: relative;
      display: flex;
      flex-direction: column; }
      .bcm .bcm_events .view-events .postcard .postcard__text .small {
        font-size: 80%; }
      .bcm .bcm_events .view-events .postcard .postcard__text .postcard__title {
        font-size: 1.75rem;
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease; }
        .bcm .bcm_events .view-events .postcard .postcard__text .postcard__title a {
          color: inherit; }
      .bcm .bcm_events .view-events .postcard .postcard__text .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%; }
      .bcm .bcm_events .view-events .postcard .postcard__text .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center; }
        .bcm .bcm_events .view-events .postcard .postcard__text .postcard__tagbox .postcard__tagbox .tag__item {
          display: inline-block;
          background: rgba(83, 83, 83, 0.4);
          border-radius: 3px;
          padding: 2.5px 10px;
          margin: 0 5px 5px 0;
          cursor: default;
          user-select: none;
          transition: background-color 0.3s; }
        .bcm .bcm_events .view-events .postcard .postcard__text .postcard__tagbox .tag__item:hover {
          background: rgba(83, 83, 83, 0.8); }
    .bcm .bcm_events .view-events .postcard .t-dark {
      color: #18151f; }
  .bcm .bcm_events .view-events .postcard:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px; }
  .bcm .bcm_events .view-events .postcard:hover .postcard__bar {
    width: 100px; }
  .bcm .bcm_events .view-events .light {
    background-color: #e1e5ea; }
  .bcm .datetimepicker {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    width: 100%;
    border-radius: 4px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s; }
  .bcm .datetimepicker:focus-within {
    border-color: teal; }
  .bcm .datetimepicker input {
    font: inherit;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: 0;
    background-color: transparent; }
  .bcm .datetimepicker input[type="date"] {
    width: 10rem;
    padding: 0.25rem 0 0.25rem 0.5rem;
    border-right-width: 0;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1.5rem; }
  .bcm .datetimepicker input[type="time"] {
    width: 5.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0;
    border-left-width: 0;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1.5rem; }
  .bcm .datetimepicker span {
    height: 1rem;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
    border-right: 1px solid #ddd; }
  .bcm table {
    display: block; }
  .bcm span.completed,
  .bcm span.completed img {
    text-decoration: line-through;
    opacity: 0.5; }
  .bcm [type="checkbox"]:not(:checked),
  .bcm [type="checkbox"]:checked {
    opacity: 1; }
  .bcm .bcm_view-recipt ul {
    padding-inline-start: 0px; }
  .bcm .bcm_view-recipt ul li {
    list-style-type: none; }
  .bcm .active > a {
    color: #fff !important;
    background: #000 !important; }

/*# sourceMappingURL=style.css.map */