.bcm {
	margin-bottom: 11rem;
}

a:focus,
a:hover {
	color: #fff;
	text-decoration: none;
}

span.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.modal {
	background: transparent;
	box-shadow: none;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	opacity: 1;
}

.bcm_view-recipt ul {
	padding-inline-start: 0px;
}

.bcm_view-recipt ul li {
	list-style-type: none;
}

.bcm_register {}

/*------Banner---------*/
.banner {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh
}

.carousel-caption {
	padding-bottom: 250px;
	/* font-family: poppins */
}

.carousel-caption h2 {
	font-size: 70px;
	text-transform: uppercase;
	font-weight: bold
}

.carousel-caption h2 span {
	color: #E30613;
}

.carousel-caption a {
	background: #E30613;
	padding: 15px 35px;
	display: inline-block;
	;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px
}

.carousel-control.right {
	background-image: none
}

.carousel-control.left {
	background-image: none
}

.carousel-indicators .active {
	background-color: #E30613;
	border-color: #E30613;
}

.active>a {
	color: #fff !important;
	background: #000 !important;
}

.change-role {
	margin-top: 2rem;
}

.change-role h2 {
	margin-bottom: 2rem;
}

.add_role-table th,
.add_role-table td {
	max-width: 20px;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
	padding-bottom: 30px;
	margin-top: 8rem;
}

.about .about-container {
	box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

.about .video-box img {
	padding: 15px 0;
}

.about .section-title p {
	text-align: left;
	color: #000;
	padding-bottom: 2rem;
	font-size: 14px;
}

.about .about-content {
	padding: 40px;
	padding-top: 0;
}

.about .icon-box+.icon-box {
	margin-top: 40px;
}

.about .icon-box .icon {
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 72px;
	height: 72px;
	background: #f1f7fb;
	border-radius: 6px;
	transition: 0.5s;
}

.about .icon-box .icon svg {
	color: #E30613;
	font-size: 32px;
}

.about .icon-box:hover .icon {
	background: #E30613;
}

.about .icon-box:hover .icon svg {
	color: #fff;
}

.about h2 {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 20px;
	padding-bottom: 0;
	color: #E30613;
}

.about .icon-box .title {
	margin-left: 95px;
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 18px;
	text-transform: uppercase;
}

.about .icon-box .title a {
	color: #343a40;
	transition: 0.3s;
}

.about .icon-box .icon svg {
	color: #E30613;
	font-size: 32px;
}

.about .icon-box .title a:hover {
	color: #E30613;
}

.about .icon-box .description {
	margin-left: 95px;
	line-height: 24px;
	font-size: 14px;
}

.about .video-box {
	position: relative;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: 3rem;
	padding-top: 9rem;
}

.about .play-btn {
	width: 94px;
	height: 94px;
	background: radial-gradient(#E30613 50%, rgba(227, 6, 19, 0.4) 52%);
	border-radius: 50%;
	display: block;
	position: absolute;
	left: calc(50% - 47px);
	top: calc(50% - 47px);
	overflow: hidden;
}

.about .play-btn::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 100;
	transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
	content: "";
	position: absolute;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation: pulsate-btn 2s;
	animation: pulsate-btn 2s;
	-webkit-animation-direction: forwards;
	animation-direction: forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: steps;
	animation-timing-function: steps;
	opacity: 1;
	border-radius: 50%;
	border: 5px solid rgba(227, 6, 19, 0.7);
	top: -15%;
	left: -15%;
	background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
	border-left: 15px solid #E30613;
	transform: scale(20);
}

.about .play-btn:hover::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-40%) translateY(-50%);
	width: 0;
	height: 0;
	border: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
	z-index: 200;
	-webkit-animation: none;
	animation: none;
	border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
	padding: 30px 0px 0px 0px;
	text-align: center;
}

.clients img {
	max-width: 100%;
	transition: all 0.4s ease-in-out;
	display: inline-block;
	/* padding: 15px 0; */
	filter: grayscale(100);
}

.clients img:hover {
	filter: none;
	transform: scale(1.15);
}

@media (max-width: 768px) {
	.clients img {
		max-width: 40%;
	}
}


/* =========Usr Profile============*/
.user-profile {}

.userImage-container {
	text-align: -webkit-center;
	/* text-align: -webkit-right; */
}

img#userimage {
	max-height: 30rem;
}

.user-details {
	margin-top: 3rem;
}

.user-details p b {
	line-height: 3rem;
	font-size: 2rem;
	/* font-family: monospace; */
	min-width: 12rem;
	display: inline-block;
	padding-right: 1rem;
}

/*===========Contact Us================*/
section.contact-us {
	background-color: #E30613;
	padding-bottom: 2rem;
}

.countact-us_header {
	color: #fff;
}

section.contact-us .bcm-contact-form {}

.bcm-contact-form label {
	color: #fff;
}

.from-group-label-right {
	display: flex;
}

.from-group-label-right label {
	width: 20%;
	margin: 0;
	padding: 0;
	position: relative;
	left: 1rem;
	font-size: 1.4rem;
}

/*===========================*/
/*-------------------------------------------
01. Our Program
---------------------------------------------*/
#our-program {
	padding: 70px 0;
	background: #fff;
}

#our-program .top {
	margin-bottom: 50px;
}

.card {
	overflow: hidden;
	border-radius: 0 0 10px 10px;
	position: relative;
	background: #fff;
	text-align: center;
	-webkit-box-shadow: -4px 2px 10px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: -4px 2px 10px 3px rgba(0, 0, 0, 0.50);
	box-shadow: -4px 2px 10px 3px rgba(0, 0, 0, 0.50);
	margin-bottom: 30px;
}

.card-img-top {
	/* max-height: 450px; */
	overflow: hidden;
}

.card-img-top img {
	width: 100%;
	transition: .3s all;
	max-height: 350px;
	min-height: 300px;
}

.card:hover .card-img-top img {
	transform: scale(1.2);
}

.card img {
	width: 110%;
	height: 100%;
}

.card h4 {
	padding-top: 25px;
	font-weight: 700;
}

.card .card-text {
	width: 80%;
	margin: 0 auto;
	font-weight: 500;
	margin-bottom: 10px;
}

.card-footer {
	background: #E30613;
	padding: 10px 30px;
	font-weight: 700;
	font-size: 15px;
	display: inline-block;
	color: #fff;
	margin-bottom: 1em;
}

.card-block {
	min-height: 25rem;
}

/*______OWL Carousel_________*/
.our-amenities-section {
	padding: 4em 0;
}

.amenities-heading h1 {
	color: #E30613;
	margin-bottom: 4rem;
}

.item {
	z-index: 1;
}

.owl-carousel {
	z-index: 0;
}

span.ion-ios-arrow-forward {
	font-size: 2rem;
	margin-left: 0.5rem;
	background: #E30613;
	padding: 5px 15px;
	color: #fff;
}

span.ion-ios-arrow-back {
	font-size: 2rem;
	margin-right: 0.5rem;
	background: #E30613;
	padding: 5px 15px;
	color: #fff;
}

.owl-nav {
	float: right;
}


/*--------------------------------------------------------------------*/
/*Event*/
/*--------------------------------------------------------------------*/
.show-events {
	background-color: #000;
	min-height: 50rem;
	margin-top: 13rem;
	padding: 1rem;
	border-radius: 10px;
}

.show-events h2 {
	text-align: center;
	margin-bottom: 3rem;
}

.show-events ul {
	padding-inline-start: 0px;
	padding: 0rem 1rem;
}

.eventIndex {
	background: transparent;
	border: none;
	font-size: 1.5rem;
	line-height: 1rem;
	padding-bottom: 1rem;
	color: #fff;
}

hr.dotted-border {
	border-top: 2px dotted #fff;
	margin-top: 5px;
}

.light {
	background: #f3f5f7;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
	flex-wrap: wrap;
	display: flex;
	box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
	border-radius: 10px;
	margin: 0 0 2rem 0;
	overflow: hidden;
	position: relative;
	color: #fff;
}

.postcard.light {
	background-color: #e1e5ea;
}

.postcard .t-dark {
	color: #18151f;
}

.postcard a {
	color: inherit;
}

.postcard h1,
.postcard .h1 {
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

.postcard .small {
	font-size: 80%;
}

.postcard .postcard__title {
	font-size: 1.75rem;
}

.postcard .postcard__img {
	max-height: 180px;
	width: 100%;
	object-fit: cover;
	position: relative;
}

.postcard .postcard__img_link {
	display: contents;
}

.postcard .postcard__bar {
	width: 50px;
	height: 10px;
	margin: 10px 0;
	border-radius: 5px;
	background-color: #424242;
	transition: width 0.2s ease;
}

.postcard .postcard__text {
	padding: 1.5rem;
	position: relative;
	display: flex;
	flex-direction: column;
}

.postcard .postcard__preview-txt {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: justify;
	height: 100%;
}

.postcard .postcard__tagbox {
	display: flex;
	flex-flow: row wrap;
	font-size: 14px;
	margin: 20px 0 0 0;
	padding: 0;
	justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
	display: inline-block;
	background: rgba(83, 83, 83, 0.4);
	border-radius: 3px;
	padding: 2.5px 10px;
	margin: 0 5px 5px 0;
	cursor: default;
	user-select: none;
	transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
	background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(-70deg, #424242, transparent 50%);
	opacity: 1;
	border-radius: 10px;
}

.postcard:hover .postcard__bar {
	width: 100px;
}

/*------datetime picker---*/
.datetimepicker {
	display: inline-flex;
	align-items: center;
	background-color: #fff;
	width: 100%;
	border-radius: 4px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.datetimepicker:focus-within {
	border-color: teal;
}

.datetimepicker input {
	font: inherit;
	color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: 0;
	background-color: transparent;
}

.datetimepicker input[type=date] {
	width: 10rem;
	padding: 0.25rem 0 0.25rem 0.5rem;
	border-right-width: 0;
	width: 100%;
	border: 1px solid #ccc;
}

.datetimepicker input[type=time] {
	width: 5.5rem;
	padding: 0.25rem 0.5rem 0.25rem 0;
	border-left-width: 0;
	width: 100%;
	border: 1px solid #ccc;
}

.datetimepicker span {
	height: 1rem;
	margin-right: 0.25rem;
	margin-left: 0.25rem;
	border-right: 1px solid #ddd;
}


@media screen and (min-width: 769px) {
	.postcard {
		flex-wrap: inherit;
	}

	.postcard .postcard__title {
		font-size: 2rem;
	}

	.postcard .postcard__tagbox {
		justify-content: start;
	}

	.postcard .postcard__img {
		max-width: 300px;
		max-height: 100%;
		transition: transform 0.3s ease;
	}

	.postcard .postcard__text {
		padding: 3rem;
		width: 100%;
	}

	.postcard .media.postcard__text:before {
		content: "";
		position: absolute;
		display: block;
		background: #18151f;
		top: -20%;
		height: 130%;
		width: 55px;
	}

	.postcard:hover .postcard__img {
		transform: scale(1.1);
	}

	.postcard:nth-child(2n+1) {
		flex-direction: row;
	}

	.postcard:nth-child(2n+0) {
		flex-direction: row-reverse;
	}

	.postcard:nth-child(2n+1) .postcard__text::before {
		left: -30px !important;
		transform: rotate(4deg);
	}

	.postcard:nth-child(2n+0) .postcard__text::before {
		right: -30px !important;
		transform: rotate(-4deg);
	}
}

@media screen and (min-width: 1024px) {
	.postcard__text {
		padding: 2rem 3.5rem;
	}

	.postcard__text:before {
		content: "";
		position: absolute;
		display: block;
		top: -20%;
		height: 130%;
		width: 55px;
	}

	.postcard.light .postcard__text:before {
		background: #e1e5ea;
	}
}

/* COLORS */
.postcard .postcard__tagbox .red.play:hover {
	background: #E30613;
}

.red .postcard__title:hover {
	color: #E30613;
}

.red .postcard__bar {
	background-color: #E30613;
}

.red::before {
	background-image: linear-gradient(-30deg, rgba(227, 6, 19, 0.1), transparent 50%);
}

.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, rgba(227, 6, 19, 0.1), transparent 50%);
}


@media screen and (min-width: 769px) {
	.red::before {
		background-image: linear-gradient(-80deg, rgba(227, 6, 19, 0.1), transparent 50%);
	}

	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1), transparent 50%);
	}

}

svg:not(:root).svg-inline--fa {
	/* margin-right: .5rem!important; */
	vertical-align: 0em;
}

.bcm-modal-video-title {
	margin: 0;
	line-height: 1.42857143;
	width: 50%;
	display: inline-block;
}
.note-heading em{
	line-height: 3rem;
    float: right;
    font-size: 1.2rem;
}
.profile-note {
    text-align: right;
    padding-top: 1rem;
}
.profile-note em span {
    color:red;
}

/*---------------Media Query----------------------*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.navbar-collapse.in>.pullright {
		float: left;
		width: 100%;
	}

	.navbar-collapse {
		margin: 0;
		padding: 0;
	}

	.navbar-nav {
		margin: 0;
	}

	a.navbar-brand {
		margin-top: -2.5rem;
		height: 20px;
	}

	.bcm-navbar .navbar-nav>li>a,
	.bcm-navbar .navbar-header>a {
		padding-left: 1rem;
	}

	.bcm-brand-logo {
		max-width: 40%;
		margin-top: -1rem;
	}

	.carousel-caption {
		/* padding-bottom: 120px */
	}

	.carousel-caption h2 {
		font-size: 25px
	}

	.carousel-caption h3 {
		font-size: 18px
	}

	.carousel-caption a {
		padding: 10px 25px
	}

	.footer-right {
		display: flex;
		justify-content: center;
	}

	.footer-center ul {
		display: contents;
	}

	.footer-center ul li p {
		line-height: 1.2em;
		padding-top: 1em;
		text-align: center;
		padding-bottom: 1em;
	}

	.footer-right ul {
		padding-inline-start: 0px;
		padding-bottom: 1em;
	}

	.show-events {
		min-height: 35rem;
		margin-top: 0rem;
		margin-bottom: 2rem;
	}

	.bcm-navbar .navbar-collapse .navbar-nav .open .bcm-dropdown-menu {
		padding-bottom: 1rem;
		font-size: 1.1rem;
	}

	.about .video-box img {
		width: 30rem;
	}

	.about .video-box {
		padding-top: 0rem;
	}

	.about {
		margin-top: 5rem;
	}

	.our-amenities-section {
		padding: 2em 0;
	}

	.our-amenities-section {
		padding: 4em 0;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.navbar-collapse.in>.pullright {
		float: left;
		width: 100%;
	}

	.navbar-collapse {
		margin: 0;
		padding: 0;
	}

	.navbar-nav {
		margin: 0;
	}

	a.navbar-brand {
		margin-top: -2.5rem;
		height: 20px;
	}

	.bcm-navbar .navbar-nav>li>a,
	.bcm-navbar .navbar-header>a {
		padding-left: 1rem;
	}

	.bcm-brand-logo {
		max-width: 40%;
		margin-top: -1rem;
	}

	.carousel-caption {
		/* padding-bottom: 120px */
	}

	.carousel-caption h2 {
		font-size: 25px
	}

	.carousel-caption h3 {
		font-size: 18px
	}

	.carousel-caption a {
		padding: 10px 25px
	}

	.footer-right {
		display: flex;
		justify-content: center;
	}

	.footer-center ul {
		display: contents;
	}

	.footer-right ul {
		padding-inline-start: 0px;
		padding-bottom: 1em;
	}

	.footer-center ul li p {
		line-height: 1.2em;
		padding-top: 1em;
		text-align: center;
		padding-bottom: 1em;
	}

	.show-events {
		min-height: 35rem;
		margin-top: 0rem;
		margin-bottom: 2rem;
	}

	.bcm-navbar .navbar-collapse .navbar-nav .open .bcm-dropdown-menu {
		padding-bottom: 1rem;
		font-size: 1.1rem;
	}

	.about .video-box img {
		width: 30rem;
	}

	.about .video-box {
		padding-top: 0rem;
	}

	.about {
		margin-top: 5rem;
	}

	.our-amenities-section {
		padding: 2em 0;
	}

	.our-amenities-section {
		padding: 4em 0;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.navbar-collapse.in>.pullright {
		float: left;
		width: 100%;
	}

	.bcm-brand-logo {
		max-width: 25%;
		height: auto;
	}

	.navbar-collapse {
		margin: 0;
		padding: 0;
		float: right;
	}

	.navbar-nav {
		margin: 0;
	}

	.carousel-caption {
		padding-bottom: 350px
	}

	.carousel-caption h2 {
		font-size: 50px
	}

	.footer-center ul {
		display: content;
		justify-content: end;
		padding-top: 1em;
	}

	.footer-right {
		display: flex;
		padding-top: 1em;
	}

	.show-events {
		min-height: 50rem;
		margin-top: 2rem;
	}

	.about .video-box img {
		width: 95%;
	}

	.about .video-box {
		padding-top: 1rem;
	}

	.about {
		margin-top: 8rem;
	}

	.our-amenities-section {
		padding: 4em 0;
	}

	.navbar-brand {
		position: relative;
		top: 4rem;
	}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.navbar-collapse>.pullright {
		float: right;
	}

	.bcm-brand-logo {
		max-width: 25%;
		height: auto;
		margin: 0;
		position: relative;
		top: 130%;
	}

	.carousel-caption {
		padding-bottom: 350px
	}

	.carousel-caption h2 {
		font-size: 50px
	}

	.footer-center ul {
		display: flex;
		justify-content: end;
		padding-top: 1em;
	}

	.footer-right {
		display: block;
		padding-top: 1em;
	}

	.show-events {
		min-height: 50rem;
		margin-top: 13rem;
	}

	.about .video-box img {
		max-width: 90%;
	}

	.about .video-box {
		padding-top: 9rem;
	}

	.about {
		margin-top: 8rem;
	}

	.our-amenities-section {
		padding: 4em 0;
	}

	.navbar-brand {
		position: relative;
		top: 0rem;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.navbar-collapse>.pullright {
		float: right;
	}

	.bcm-brand-logo {
		max-width: 25%;
		height: auto;
		margin: 0;
		position: relative;
		top: 130%;
	}

	.carousel-caption {
		padding-bottom: 350px
	}

	.carousel-caption h2 {
		font-size: 50px
	}

	.footer-center ul {
		display: flex;
		justify-content: end;
		padding-top: 1em;
	}

	.footer-right {
		display: block;
		padding-top: 1em;
	}

	.show-events {
		min-height: 50rem;
		margin-top: 13rem;
	}

	.about .video-box img {
		max-width: 90%;
	}

	.about .video-box {
		padding-top: 9rem;
	}

	.about {
		margin-top: 8rem;
	}

	.our-amenities-section {
		padding: 4em 0;
	}

	.navbar-brand {
		position: relative;
		top: 0rem;
	}

}