<% if (alerts.error) { %>
   <% alerts.error.forEach(function(msg) { %>
     <div class="alert alert-danger" id="alertMessage">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">×</span>
       </button>
      </div>
   <% }); %>
 <% } %>

<div class="bcm_login">
    <div class="container">
       <h2 class="page-header">Account Login</h2>
       <form method="post" action="/login">
          <div class="form-group">
             <label>Username</label>
             <input type="text" class="form-control" name="username" placeholder="Username" required>
          </div>
          <div class="form-group">
             <label>Password</label>
             <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn bcm-btn-red">Submit</button>
       </form>
    </div>
 </div>
 <script type="text/javascript">
   setTimeout(function () {
       // Closing the alert
       $(' #alertMessage').alert('close');
   }, 2000);
</script>